div{
    text-align: center;
    display: block;
}

img{
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

figcaption{
    text-align: center;
    font:normal small-caps italic 12px/1.4 Georgia;
    color: whitesmoke;  
}

h1{
    text-align: center;
    text-shadow:1px 1px grey ;
    font:normal small-caps bold 30px/1.4 Georgia;
    color:whitesmoke;
    
    
}

h2{
    text-align: center;
    text-shadow:1px 1px gray ;
    font:normal small-caps bold 18px/1.4 Georgia;
    border:solid whitesmoke 2px;
    padding:10px;
    margin: 45px;
    color: whitesmoke;  
}


body{
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    background-image:url(https://www.dropbox.com/s/i46qkrvh85u4ue9/bg2.jpg?raw=1);
    width: 100%;
    height: 100%;
   }

 a{
     color:whitesmoke;
 }
 
 footer{
    text-align: left;
    font:normal small-caps bold 18px/1.4 Georgia;
    color: whitesmoke;     
 }

 p{
     font: bold;
     color: whitesmoke;
 }

nav {
    float: center;
    text-align: center;
}

nav a {
    color: whitesmoke;
    padding: 12px 16px;
    text-decoration: none;
    font-size: bold 12px;
  }
  
nav a:hover {
    background-color: grey;
    color: black;
  }